/*==================  GOOGLE MAP  ======================*/
.map {
    margin-top: 40px;
}

@media (min-width: 780px){
    .map {
  position: absolute;
  left: 50%;
  width: 50%;
  
}

.map img {
    position: absolute;
    top: 188px;
    padding-bottom: 20px;
    height: 553px;
}
}